<!DOCTYPE html>
<html lang="fr">
<!--pvnTmplBeg-->
<head>
   <meta charset="utf-8">
   <!--pvnEditBeg title-->
   <title>PageTemplate</title>
   <!--pvnEditEnd-->
</head>
<body>
   <h1>Site2 (C.D)</h1>
   <h2>Part1</h2>
   <!--pvnEditBeg part1-->
   <p>Palceholder for Part1</p>
   <!--pvnEditEnd-->
   <h2>Part2</h2>
   <!--pvnEditBeg part2-->
   <p>Palceholder for Part2</p>
   <!--pvnEditEnd-->
   <h2>Part for D</h2>
   <!--pvnEditBeg part3-->
   <p>This part will be updataed on PageD</p>
   <!--pvnEditEnd-->
</body>
<!--pvnTmplEnd-->
</html>